Bluemix(Red-node)
[{"id":"d8b9e864.e8da78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a803ce25.7472f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5b65c1c7.3fc208","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"609a1c7a.2f6c54","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e32ad102.964038","type":"ui_group","z":"","name":"Default","tab":"609a1c7a.2f6c54","disp":true,"width":"6","collapse":false},{"id":"9a1c260b.f6e6e8","type":"ibmiot in","z":"d8b9e864.e8da78","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"080027c06973","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"statusindicator","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":300,"wires":[["a4ea67b3.319298"]]},{"id":"a4ea67b3.319298","type":"debug","z":"d8b9e864.e8da78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":320,"wires":[]},{"id":"15977eaf.a89c31","type":"inject","z":"d8b9e864.e8da78","name":"Normal","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":380,"wires":[["4934c55d.e08bcc"]]},{"id":"6731d407.444a1c","type":"inject","z":"d8b9e864.e8da78","name":"Alert","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":440,"wires":[["4934c55d.e08bcc"]]},{"id":"4934c55d.e08bcc","type":"function","z":"d8b9e864.e8da78","name":"Format Message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["2f4182de.327ff6"]]},{"id":"2f4182de.327ff6","type":"json","z":"d8b9e864.e8da78","name":"","property":"payload","action":"","pretty":false,"x":230,"y":500,"wires":[["16a072e4.fe6add","dbb957d3.b6aba"]]},{"id":"16a072e4.fe6add","type":"ibmiot out","z":"d8b9e864.e8da78","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027c06973","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":280,"y":560,"wires":[]},{"id":"dbb957d3.b6aba","type":"debug","z":"d8b9e864.e8da78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":620,"wires":[]},{"id":"9d63e1d8.487b","type":"ibmiot in","z":"a803ce25.7472f","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027c06973","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["cf677222.2a464","c32645dc.c712d","8052ea60.44fb8","d0af4f06.b7d36"]]},{"id":"cf677222.2a464","type":"debug","z":"a803ce25.7472f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":160,"wires":[]},{"id":"c32645dc.c712d","type":"function","z":"a803ce25.7472f","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["379b40b7.5517e"]]},{"id":"8052ea60.44fb8","type":"function","z":"a803ce25.7472f","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["bded2dd0.0368b"]]},{"id":"d0af4f06.b7d36","type":"function","z":"a803ce25.7472f","name":"Tekanan","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[["b937da64.2b7f1"]]},{"id":"379b40b7.5517e","type":"ui_gauge","z":"a803ce25.7472f","name":"","group":"e32ad102.964038","order":1,"width":0,"height":0,"gtype":"gage","title":"suhu","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"bded2dd0.0368b","type":"ui_gauge","z":"a803ce25.7472f","name":"","group":"e32ad102.964038","order":2,"width":0,"height":0,"gtype":"gage","title":"kelembapan","label":"units","format":"{{value}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":240,"wires":[]},{"id":"b937da64.2b7f1","type":"ui_gauge","z":"a803ce25.7472f","name":"","group":"e32ad102.964038","order":3,"width":0,"height":0,"gtype":"gage","title":"tekanan","label":"units","format":"{{value}}","min":0,"max":"9999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":280,"wires":[]},{"id":"223692de.fd0a96","type":"ui_button","z":"a803ce25.7472f","name":"","group":"e32ad102.964038","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":320,"wires":[[]]}]
