PAAS3(Raspbian).json
[{"id":"d464887.c331378","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5c07bd7.7061a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ed3a4374.4137f","type":"wiotp-credentials","z":"","name":"37960c720080","org":"m83sdj","serverName":"","devType":"raspberrypi","devId":"080027c06973","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"3e87cd87.8b55e2","type":"wiotp-credentials","z":"","name":"","org":"m83sdj","serverName":"","devType":"raspberrypiGW","devId":"080027c06973","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"45756277.9bb04c","type":"inject","z":"d464887.c331378","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["d822e138.e126b"]]},{"id":"d822e138.e126b","type":"random","z":"d464887.c331378","name":"","low":"1","high":"10","inte":"true","property":"payload","x":140,"y":80,"wires":[["c6ab7caf.2c06d"]]},{"id":"c6ab7caf.2c06d","type":"function","z":"d464887.c331378","name":"Format Data","func":"msg.payload = { 'd' : { 'random' : msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":120,"wires":[["f225b463.fa9af8","1f6c6874.08bd98"]]},{"id":"f225b463.fa9af8","type":"debug","z":"d464887.c331378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":160,"wires":[]},{"id":"1f6c6874.08bd98","type":"wiotp out","z":"d464887.c331378","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"ed3a4374.4137f","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":170,"y":200,"wires":[]},{"id":"68d8d411.e029cc","type":"wiotp in","z":"d464887.c331378","authType":"d","deviceKey":"ed3a4374.4137f","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":100,"y":260,"wires":[["f36d1183.088bd"]]},{"id":"f36d1183.088bd","type":"debug","z":"d464887.c331378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":320,"wires":[]},{"id":"5a3a2cd9.cffad4","type":"rpi-sensehatsim in","z":"f5c07bd7.7061a8","name":"","motion":false,"env":true,"stick":false,"x":140,"y":40,"wires":[["bd937c46.2055"]]},{"id":"bd937c46.2055","type":"delay","z":"f5c07bd7.7061a8","name":"delay 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":100,"wires":[["67d08434.ec240c"]]},{"id":"67d08434.ec240c","type":"function","z":"f5c07bd7.7061a8","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceID = \"senb080027c06973\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["28d4eb00.eaba74","4bcb1e69.ef354"]]},{"id":"28d4eb00.eaba74","type":"debug","z":"f5c07bd7.7061a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":140,"y":240,"wires":[]},{"id":"4bcb1e69.ef354","type":"wiotp out","z":"f5c07bd7.7061a8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"3e87cd87.8b55e2","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":130,"y":320,"wires":[]}]